.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0A192F;
    backdrop-filter: blur(10px);
    /*border-radius: 12px 12px 0 0;*/
    z-index: 5;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.navbar-link {
    color: white;
    padding: 20px 7px;
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

.navbar-link:hover,
.navbar-link:focus { 
    color: blue; 
}

.navbar-link.active { 
    color: blue; 
}

@media (min-width: 580px) {
    .navbar { 
        /*border-radius: 20px 20px 0 0;*/
    }
    
      .navbar-list { 
        gap: 20px; 
    }
    
      .navbar-link { 
        --fs-8: 14px; 
    }
}

@media (min-width: 768px) {
    .navbar-link { 
        --fs-8: 15px; 
    }
}

@media (min-width: 1024px) {
    .navbar {
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        width: max-content;
        border-radius: 2px;
        padding: 0 20px;
        box-shadow: none;
    }

    .navbar-list {
        gap: 30px;
        padding: 0 20px;
    }
}

